1.{color: #0072bb;}

2.{color: #ed008c;}
{color: rgb(237,0,140);}

3.{color: rgb(163,97,10);}
{color: hsl(34,88%,34%);}

4.{color: #7cc576;}
{color: rgb(124,197,118);}
{color: hsl(115,41%,62%);}

5.{color: rgba(245,190,125,.55);}

6.{color: hsla(357,42%,78%,.32);}