body {
    font-family: 'Avenir', sans-serif;
    background-image: url("Images/zen_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #333333;
    font-weight: 100;
    font-size: 40px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

h3

css-zen-garden {
    position: fixed;
}