/* yes, this is meant to be empty */

body {
    font-family: 'Vollkorn', serif;
}

ul {
    /*list-style-type: none;*/
    list-style-image: url(checkmark.gif);
    list-style-position: inside;
}

ol {
    list-style-type: decimal-leading-zero;
}

h1, h3 {
    font-family: 'Vollkorn', serif;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: turquoise;
}

fieldset {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
}

legend {
    background-color: lightgray;
    border-color: #efefef;
    border: 1px solid #dcdcdc;
    text-align: left;
    text-transform: uppercase;
    
}

input[type"text"], input[type"email"] {
    border: 1px solid #000;
    font-size: .8em;
    color: #555;
    /*text-transform: uppercase;*/
}

input[type"text"], input[type"email"]:hover {
    border: 1px solid #000;
    font-size: .8em;
    border: 1px solid blue;
}

input["types"sbmit] {
    background-color: aqua;
    color: white;
    border-radius: 4px;
    margin-top: 4em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    padding-left: 25px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

input["types"sbmit]:hover {
    background-color: red;
}

