body {
    background-color: #1F5271;
    font-family: Helvetica, sans-serif;
}
p {
    color: #cdcdcd;
    font-size: 16px;
    text-align: center;
}
h1 {
    color: #efefef;
    font-size: 32px;
    text-align: center;
}
h2 {
    color: #efefef;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}
caption, i, small {
    color: #efefef;
    margin-top: 20px;
}
table {
    float: right;
}
td {
    padding: 4px;
    text-align: left;
    color: #cdcdcd;
}
th {
    padding: 4px;
    text-align: left;
    color: #efefef;
}
div {
    height: 204px;
}
form {
    text-align: center;
}
form {
    color: #cdcdcd;
}
input {
    background-color: #cdcdcd;
    border: none;
    border-radius: 3px;
    margin: 6px;
}
iframe {
    vertical-align: center;
}
ul, ol {
    color: #cdcdcd;
    margin-left: 400px;
}
a {
    color: #cdcdcd;
    font-size: 14px;
}